{% extends "base.html" %}
{% block content %}
<h1>Receiver's Section</h1>

<form action="{% url 'forms:designer' %}" method="POST" class="form-section">
    {% csrf_token %}
    <fieldset>
        <legend>To be filled by PE - PMD personnel</legend>

        <div class="form-group">
            <label for="verified_by">Verified by:</label>
            <input type="text" id="verified_by" name="verified_by">
        </div>

        <div class="form-group">
            <label for="design_in_charge">Design In Charge:</label>
            <select id="design_in_charge" name="design_in_charge">
                <option value="">-- Select Designer --</option>
                <option value="designer1">Peter Romanillos</option>
                <option value="designer2">Roseller Carido</option>
                <option value="designer3">Christian Lloyd Porol</option>
                <option value="designer4">Julito Pangalay Jr.</option>
                <option value="designer5">Mark Joseph Planca</option>
                <option value="designer6">Meldin Evangelista</option>
                <option value="designer7">Jay Mari Quilantang</option>
                <option value="designer8">Sherry Balandra</option>
                <option value="designer9">Jade Macalalad</option>
            </select>
        </div>

        <div class="form-group">
            <label for="control_number">Control Number:</label>
            <input type="text" id="control_number" name="control_number">
        </div>

        <div class="form-group">
            <label>Approval Status:</label>
            <div>
                <input type="radio" id="approve" name="approval_status" value="approve">
                <label for="approve">Approved</label>
            </div>
            <div>
                <input type="radio" id="reject" name="approval_status" value="reject">
                <label for="reject">Not Approved</label>
            </div>
        </div>

        <div class="form-group">
            <label for="remarks">Remarks:</label>
            <input type="text" id="remarks" name="remarks">
        </div>

        <div class="form-group">
            <label for="start_target_dates">Start Date and Target Date:</label>
            <input type="text" id="start_target_dates" name="start_target_dates">
        </div>
    </fieldset>
</form>
{% endblock %}