<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Request Form</title>
</head>
<body>
  <h1>Request Form</h1>
  <form action="/submit-request" method="POST"></form>
    <label for="name">Title:</label>
    <input type="text" id="name" name="name" required>
    <br><br>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="{{ today_date }}" required>
    <br><br>

    <label>Request Type:</label><br>
    <input type="radio" id="general" name="request_type" value="general" required>
    <label for="general">Project</label><br>
    <input type="radio" id="technical" name="request_type" value="technical" required>
    <label for="technical">Modification</label><br>
    <input type="radio" id="billing" name="request_type" value="billing" required>
    <label for="billing">Drawing</label>
    <br><br>

    <label for="file">Upload File:</label>
    <input type="file" id="file" name="file" accept=".pdf,.doc,.docx,.jpg,.png,.xlsx">
    <br><br>

    <label for="details">Details:</label>
    <textarea id="details" name="details" rows="4" required></textarea>
    <br><br>

    <label for="name">Purpose:</label>
    <input type="text" id="purpose" name="purpose" required>
    <br><br>

    <label for="name">Scope:</label>
    <input type="text" id="scope" name="scope" required>
    <br><br>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br><br>

    <button type="submit">Submit Request</button>
  </form>
</body>
</html>
{% endblock %}