{% extends "base.html" %}
{% block content %}
<h1>Preview Submitted Request</h1>

<div class="form-section">
    <fieldset>
        <legend>Request Details</legend>

        <div class="form-group">
            <label>Type of Request:</label>
            <p>{{ submitted_request.request_type }}</p>
        </div>

        <div class="form-group">
            <label>Proposed Title:</label>
            <p>{{ submitted_request.proposed_title }}</p>
        </div>

        <div class="form-group">
            <label>Request Date:</label>
            <p>{{ submitted_request.request_date }}</p>
        </div>

        <div class="form-group">
            <label>User Requirement Specification:</label>
            <p>{{ submitted_request.user_requirement_specification }}</p>
        </div>

        <div class="form-group">
            <label>Uploaded File:</label>
            <p><a href="{{ submitted_request.uploaded_file }}" target="_blank">View File</a></p>
        </div>

        <div class="form-group">
            <label>Purpose:</label>
            <p>{{ submitted_request.purpose }}</p>
        </div>

        <div class="form-group">
            <label>Scope:</label>
            <p>{{ submitted_request.scope }}</p>
        </div>

        <div class="form-group">
            <label>Requested by:</label>
            <p>{{ submitted_request.requested_by }}</p>
        </div>
    </fieldset>
</div>
{% endblock %}
