<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'personalProfile.css' %}">
</head>
<body>
    <div class="modal">
        <div class="modal-header">
            <h1>User Profile</h1>
        </div>
        <div class="modal-info">
            <label>Username:</label>
            <span>{{ user.username }}</span>
        </div>
        <div class="modal-info">
            <label>Date Joined:</label>
            <span>{{ user.date_joined }}</span>
        </div>
        <a href="javascript:history.back()" class="close-button">Close</a>
    </div>
    <script src="{% static 'js/personalProfile.js' %}"></script>
</body>
</html>